/* DARK THEME COLOR  */
$dark-background-accent : #2c3e50; // updated to a darker shade
$dark-blue-accent : #34495e; // updated to a darker shade
$dark-blue-hover : #2c3e50; // updated to a darker shade
$dark-text-color : #ecf0f1; // updated to a lighter shade
$dark-background : #1a252f; // updated to a darker shade

/* LIGHT THEME COLOR */
$light-background-accent : #f2f0f0; // reverted to original value
$light-blue-accent : #94a9fc; // reverted to original value
$light-blue-hover : #6870fa; // reverted to original value
$light-text-color : #141414; // reverted to original value
$light-background : #ffffff; // reverted to original value

/* COMMON COLOR */
$green-accent : #4cceac;

$error-color: #FF5A5F;
$success-color: #28A745;
$warning-color: #FFA500;

$default-transition : all 0.5s ease-in-out;